/*--------------------------------------------------
    General Styling
---------------------------------------------------*/
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

header,
footer {
    width: 100%;
    box-sizing: border-box;
}

aside {
    width: 30%;
    box-sizing: border-box;
}

section {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

section svg {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------
    Form Styling
---------------------------------------------------*/
form {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    padding: 10px;
    width: 100%;
}

form fieldset {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0 0 10px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type=text] {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #E6E6E6;
}

form input[type=submit] {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #E6E6E6;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: rgb(235, 235, 235); 
}

/*--------------------------------------------------
    Map Styling
---------------------------------------------------*/
/* colours
    Light blue: rgb(84, 127, 180)
    Dark Blue:  rgb(65, 89, 104)
*/

/* Map Region ID's in SVG 

Scotland SVG ID's
#path2470
#path3273
#path3265
#path3259
#path3261
#path3251
#path3253
#path3255
#path3257
#path3263
#path3267
#path3269
#path3271
#path3275
#path3277
#path3279
#path3281
#path3283
#path3285
#path3287
#path3289
#path3291
#path3293
#path3295
#path3297
#path3299
#path3301
#path3303

East Midlands
#path96

London
#path152

South West
#path164

Northen Irland
#path6609

Isle of Man
#path2727

Channel Islands
#path3499
#path3501
#path3503
#path3505
#path3507

Yorkshire and the Humber
#path36

North East
#path20

North West
#path24

West Midlands
#path80

South East
#path132

East of England
#path84

Wales
#path6137

*/

#svg2 .region {
    fill: rgb(84, 127, 180);
    cursor: pointer;
}

#svg2 .region.hover {
    fill: rgb(65, 89, 104);
}